body {
  font-size: 16px;
  color: #fff;
  background-color: #333;
  font-family: 'Goldman', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #939bdb;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Ubuntu', serif;
  color: #eee;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 4px 4px 4px #00ffd9;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
 }

#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
  color: #00ffd9;
}
.navbar-header {
  margin: auto 0 10px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -20px;
}
/* END HEADER */


/* HOME PAGE */
.container #main-content-box {
    width: 90%;
  margin: 15px auto;
  padding: 2vw;
}

.container #main-content-box .col-xs-12 {
  box-shadow: 0 0 50px #939bdb;
  border: 2px solid #939bdb;
  margin-bottom: 15px;
}

#main-content #main-content-box .paragraphs {
  padding: 3vh 0;
}
/* END HOME PAGE */



/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    height: 675px;
  }
  #my-mobile-button {
    display: none;
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  #my-mobile-button {
    display: none;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  
  #my-mobile-button {
    display: none;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-header {
  margin: auto 0 10px;
  height: 80px;
}
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; 
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  
  /* End Header */

  
  /* Home Page */
  .container #main-content-box {
  width: 60%;
}


